[Desktop Entry]
Categories=Development;TextEditor;
Comment=Edit text
Exec=/home/seeback/.local/bin/emacs-launch.sh %F
GenericName=Text Editor
Icon=emacs
MimeType=text/english;text/plain;text/markdown;application/json;application/xml;text/xml;text/x-java-properties;text/x-lisp;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Name=Emacs
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=Emacs
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
