/* 用户自定义暗色主题 */

* {
    color: #cdd6f4;
}

window#waybar {
    background: rgba(17, 17, 27, 0.95);
}

#workspaces button {
    background: rgba(30, 30, 46, 0.8);
    color: #cdd6f4;
}

#workspaces button.active {
    background: rgba(69, 71, 90, 0.9);
    color: #b4befe;
}

#workspaces button:hover {
    background: rgba(49, 50, 68, 0.9);
}

#taskbar button {
    background: rgba(30, 30, 46, 0.8);
    color: #cdd6f4;
}

#taskbar button.active {
    background: rgba(69, 71, 90, 0.9);
}

#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#privacy,
#tray {
    background: rgba(30, 30, 46, 0.8);
    color: #cdd6f4;
}
